body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.app {
  min-height: 100vh;

  background-image: url("/GithubCat.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background 0.3s ease;
}

/* CARD */
.app-card {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 20px;

  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.35);
  text-align: center;

  transition: background 0.3s ease, color 0.3s ease;
}

/* LIGHT THEME */
.app.light .app-card {
  background: rgba(255, 255, 255, 0.95);
  color: #111;
}

/* DARK THEME */
.app.dark .app-card {
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

/* Container */
.search-container {
  text-align: center;
}

/* Google-style search bar */
.search-bar {
  width: 90%;
  margin: 0 auto;
  
  align-self: center;
  padding: 10px ;
  font-size: 18px;

  border-radius: 50px;
  border: none;
  outline: none;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);

  transition: 0.3s ease;
}

.search-bar:focus {
  transform: scale(1.03);
}
.app.light.search-bar{
  caret-color: #111;
}
.app.dark .search-bar{
  background: rgba(30, 30, 30, 0.9);
  color: white;
  caret-color: white;
}

/* Status text */
.status {
  margin-top: 15px;
  
}

.app.light .status.error {
  color: black; /* strong red for light bg */
}

.app.dark .status.error {
  color: white; /* soft red for dark bg */
}

/* Result display */
.result {
  margin-top: 25px;
  
}

.result img {
  width: 80px;
  border-radius: 50%;
}
.profile-link {
  text-decoration: none;
  color:inherit;
  display: inline-block;
  transition: 0.2s ease;
}

.profile-link:hover {
  transform: scale(1.05);
}


.app.dark{
  filter: brightness(0.5);
}
.app.light{
  filter:brightness(1);
}
.theme-toggle {
  position: fixed;

  top: 20px;      /* distance from top */
  right: 20px;    /* distance from right */

  z-index: 999;   /* ensures it stays above everything */

  padding: 8px 14px;
  border-radius: 8px;
  border: none;

  background: rgba(0,0,0,0.7);
  color: white;
  cursor: pointer;

  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  
  transition: transform 0.2s ease;
}

.theme-toggle:hover {
  transform: scale(1.05);
}
